<!-- <div class="container">
    <h1>
        GITHUB SEARCH</h1>
        <small class="text-muted">This is a github search repository that you can use to search for repository
            name
        </small>
      
    <div class="row">
            <div class="col-6">
                <div class="carduser" >
                    <div class="card">
                        <img src="{{personal.avatar_url}}" class="card-img-top" alt="Profile" height="150" >
                        <div class="card-body">
                            <h2 class="card-title">Name:{{personal.name}}</h2>
                            <p class="card-text"></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Bio: {{personal.bio}}</li>
                            <li class="list-group-item">Username: {{personal.login}}</li>
                            <li class="list-group-item">Followers: {{personal.followers}}</li>
                            <li class="list-group-item">Following: {{personal.following}}</li>
                            <li class="list-group-item">Location: {{personal.location}}</li><br>
                            <li class="list-group-item">Created on : {{personal. created_at|date}}</li><br>
                            <p><a href="{{personal.html_url}}" class="btn btn-primary btn-sm ">View Profile</a></p>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->

        <div *ngIf="personal">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{personal.name}} <small>{{personal.login}}</small>
                    <span *ngIf="personal.work">, works at{{personal.work}}</span>
                </div>
            </div>
        </div>
       